<section class="spells" style="margin-bottom: 10px;">
    <!--<h2 class="name" style="margin-bottom: 0px;">{{localize "hibern.chars.abilities"}}
        {{#EditMode actor}}
            <a class="item-create" data-itemname="Capacité" data-type="Capacité"><i class="fas fa-plus"></i></a>
        {{/EditMode}}</h2>-->
    {{#if (eq actor.type "personnage")}}
        <nav class="tabs name" data-group="primary-tabs">
            {{#EditMode actor}}
            <span class="fullsizelink">
                <a class="item" data-tab="abilities">{{localize "hibern.chars.abilities"}}</a>
                <a class="item-create" data-itemname="Capacité" data-type="Capacité"><i class="fas fa-plus"></i></a>
            </span>
            {{else}}
            <a class="item fullsizelink" data-tab="abilities">{{localize "hibern.chars.abilities"}}</a>
            {{/EditMode}}
            <a class="item fullsizelink" data-tab="summons">{{localize "hibern.chars.summons"}}</a>
        </nav>
    {{else}}
        <h2 class="name" style="margin-bottom: 0px;">{{localize "hibern.chars.abilities"}}
        {{#EditMode actor}}
            <a class="item-create" data-itemname="Capacité" data-type="Capacité"><i class="fas fa-plus"></i></a>
        {{/EditMode}}</h2>
    {{/if}}
    <div class="content scroll-container table-border">
        <div class="tab" data-tab="abilities" data-group="primary-tabs">
            <table class="item-list">
                {{#if (eq abilities.length 0)}}
                <tr>
                    <td style="text-align: center;">{{localize "hibern.chars.NoAbilities"}}</td>
                </tr>
                {{else}}
                    {{#each abilities as |ability id|}}
                    <tr class="item spell-table-content" data-itemid="{{ability._id}}" data-item-id="{{ability._id}}">
                        {{#EditMode ../actor}}
                            <td class="spell-name" style="width: 175px;">
                                <a class="item-delete" data-itemid="{{ability._id}}" style="margin: 0px 2px 0px 2px;"><i class="fas fa-trash"></i></a>
                                <a class="item-edit" data-itemid="{{ability._id}}" style="margin: 0px 2px 0px 2px;"><i class="fas fa-edit"></i></a>
                                <div class="text-flow1 {{#if (eq ability.system.Actif true)}}actif{{else}}passif{{/if}}">({{ability.system.Fatigue}}) {{ability.name}}</div>
                            </td>
                            <td>
                                <span class="text-flow1" style="width: 240px;">{{{ability.system.Description}}}</span>
                            </td>
                            <td style="width: 20px; text-align: left;">
                                <span>{{ability.system.Spécialisation}}</span>
                            </td>
                        {{else}}
                            <td class="spell-name" style="width: 175px;">
                                <a class="use-ability fullsizelinkwidth text-flow1 {{#if (eq ability.system.Actif true)}}actif{{else}}passif{{/if}}"
                                    data-itemid="{{ability._id}}">
                                    ({{ability.system.Fatigue}}) {{ability.name}}
                                </a>
                            </td>
                            <td><span class="text-flow1" style="width: 240px; font-size: 12px;">{{{ability.system.Description}}}</span></td>
                            <td style="width: 20px; text-align: left;">
                                <span>{{ability.system.Spécialisation}}</span>
                            </td>
                        {{/EditMode}}
                    </tr>
                    {{/each}}
                {{/if}}
            </table>
        </div>
        <div class="tab" data-tab="summons", data-group="primary-tabs">
            <table class="scroll-content">
                {{#if (eq invocations.length 0)}}
                <tr>
                    <td style="text-align: center;">{{localize "hibern.chars.NoSummons"}}</td>
                </tr>
                {{else}}
                    {{#each invocations as |invocation index|}}
                    <tr class="spell-table-content">
                        {{#EditMode ../actor}}
                            <td style="min-width: 25px;">
                                <img src="{{invocation.img}}" title="{{invocation.name}}" height="45" width="45" class="summon-img" />
                            </td>
                            <td class="spell-name" style="width: 105px;">
                                <a class="delete-summon-reference" data-index="{{index}}"><i class="fas fa-trash"></i></a>
                                <a class="open-invocation-sheet text-flow" data-index="{{index}}">{{invocation.name}}</a>
                            </td>
                        {{else}}
                            <td style="min-width: 25px;">
                                <img src="{{invocation.img}}" title="{{invocation.name}}" height="45" width="45" class="summon-img" />
                            </td>
                            <td class="spell-name" style="width: 105px;">
                                <a class="open-invocation-sheet text-flow" data-index="{{index}}">{{invocation.name}}</a>
                            </td>
                        {{/EditMode}}
                        <td class="invoc-stats">
                            <span class="stat-name">{{localize "hibern.stats.FOR"}}</span><br>
                            <span class="stat">{{invocation.system.FOR.value}}</span>
                        </td>
                        <td class="invoc-stats">
                            <span class="stat-name">{{localize "hibern.stats.MAG"}}</span><br>
                            <span class="stat">{{invocation.system.MAG.value}}</span>
                        </td>
                        <td class="invoc-stats">
                            <span class="stat-name">{{localize "hibern.stats.DEX"}}</span><br>
                            <span class="stat">{{invocation.system.DEX.value}}</span>
                        </td>
                        <td class="invoc-stats">
                            <span class="stat-name">{{localize "hibern.stats.CON"}}</span><br>
                            <span class="stat">{{invocation.system.CON.value}}</span>
                        </td>
                        <td class="invoc-stats">
                            <span class="stat-name">{{localize "hibern.stats.ERU"}}</span><br>
                            <span class="stat">{{invocation.system.ERU.value}}</span>
                        </td>
                        <td class="invoc-stats">
                            <span class="stat-name">{{localize "hibern.stats.CHA"}}</span><br>
                            <span class="stat">{{invocation.system.CHA.value}}</span>
                        </td>
                    </tr>
                    {{/each}}
                {{/if}}
            </table>
        </div>
    </div>
</section>