<section class="spells" style="margin-bottom: 10px;">
    <h2 class="name" style="margin-bottom: 0px;">{{localize "hibern.chars.abilities"}}
        {{#EditMode actor}}
            <a class="item-create" data-itemname="Capacité" data-type="Capacité"><i class="fas fa-plus"></i></a>
        {{/EditMode}}</h2>
    <div style="max-height: 117.5px;" class="scroll-container">
        <table class="item-list scoll-content">
            {{#if (eq abilities.length 0)}}
            <tr>
                <td style="text-align: center;">{{localize "hibern.chars.NoAbilities"}}</td>
            </tr>
            {{else}}
                {{#each abilities as |ability id|}}
                <tr class="item spell-table-content" data-itemid="{{ability._id}}" data-item-id="{{ability._id}}">
                    {{#EditMode ../actor}}
                        <td class="spell-name" style="width: 175px;">
                            <a class="item-delete" data-itemid="{{ability._id}}" style="margin: 0px 2px 0px 2px;"><i class="fas fa-trash"></i></a>
                            <a class="item-edit" data-itemid="{{ability._id}}" style="margin: 0px 2px 0px 2px;"><i class="fas fa-edit"></i></a>
                            <div class="text-flow1">({{ability.system.Fatigue}}) {{ability.name}}</div>
                        </td>
                        <td>
                            <span class="text-flow1" style="width: 240px;">{{{ability.system.Description}}}</span>
                        </td>
                        <td style="width: 20px; text-align: left;">
                            <span>{{ability.system.Spécialisation}}</span>
                        </td>
                    {{else}}
                        <td class="spell-name" style="width: 175px;">
                            <a class="use-ability fullsizelinkwidth text-flow1 {{#if (eq ability.system.Actif true)}}actif{{else}}passif{{/if}}"
                                data-itemid="{{ability._id}}">
                                ({{ability.system.Fatigue}}) {{ability.name}}
                            </a>
                        </td>
                        <td><span class="text-flow1" style="width: 240px; font-size: 12px;">{{{ability.system.Description}}}</span></td>
                        <td style="width: 20px; text-align: left;">
                            <span>{{ability.system.Spécialisation}}</span>
                        </td>
                    {{/EditMode}}
                </tr>
                {{/each}}
            {{/if}}
        </table>
    </div>
</section>