<section class="custom-combat-tracker" style="max-height: 165px;">
    <h3><u>{{localize "hibern.chat.CurrentCombattant"}}</u></h3>
    <div class="posture">
        <span style="text-align: left; width: 50%;">Posture</span>
        {{#if (eq actor.isOwner true)}}
            <select name="posture" style="text-align: right; width: 50%;" data-tooltip="{{posturetooltip}}" id="change-posture">
                {{#select currentPosture}}
                    <option value="Base">{{localize "hibern.chars.postureBase"}}</option>
                    <option value="Def">{{localize "hibern.chars.postureDef"}}</option>
                    <option value="Off">{{localize "hibern.chars.postureOff"}}</option>
                    <option value="Rea">{{localize "hibern.chars.postureRea"}}</option>
                    <option value="Fuy">{{localize "hibern.chars.postureFuy"}}</option>
                    <option value="Hib">{{localize "hibern.chars.postureHib"}}</option>
                    {{#each PosturesCustom as |posture index|}}
                        <option value="{{posture._id}}">{{posture.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        {{else}}
            <span style="text-align: right; width: 50%;" data-tooltip="{{posturetooltip}}">{{localPosture}}</span>
        {{/if}}
    </div>
    <h3><u>{{localize "hibern.chat.ActionsLeft"}}</u></h3>
    <div class="actionList">
        <div style="text-align: left; width: 50%;">
            <span class="{{#if (eq usedActions.Action true)}}usable{{else}}used{{/if}}"><a class="use-action" data-type="Action">{{localize "hibern.actions.Action"}}</a></span><br>
            <span class="{{#if (eq usedActions.ActionSE true)}}usable{{else}}used{{/if}}"><a class="use-action" data-type="ActionSE">{{localize "hibern.actions.ActionSE"}}</a></span><br>
            <span class="{{#if (eq usedActions.Move true)}}usable{{else}}used{{/if}}"><a class="use-action" data-type="Move">{{localize "hibern.actions.Move"}}</a></span>
        </div>
        <div style="text-align: right; width: 50%;">
            <span class="{{#if (eq usedActions.ChangePosture true)}}usable{{else}}used{{/if}}"><a class="use-action" data-type="ChangePosture">{{localize "hibern.actions.ChangePosture"}}</a></span><br>
            <span class="{{#if (eq usedActions.Esquiver true)}}usable{{else}}used{{/if}}"><a class="use-action" data-type="Esquiver">{{localize "hibern.actions.Esquiver"}}</a></span><br>
            <span class="{{#if (eq usedActions.Parer true)}}usable{{else}}used{{/if}}"><a class="use-action" data-type="Parer">{{localize "hibern.actions.Parer"}}</a></span><br>
            <span class="{{#if (eq usedActions.Reaction true)}}usable{{else}}used{{/if}}"><a class="use-action" data-type="Reaction">{{localize "hibern.actions.Reaction"}}</a></span>
        </div>
    </div>
</section>