<section>
    <input type="text" class="recherche" placeholder="{{localize "hibern.marchands.Recherche"}}" style="font-size: small; vertical-align: middle; width: 90%; margin: 3px;" /></h1>
    <script>
        $(document).ready(function(){
            $(".recherche").prop('disabled', false);
            $(".recherche").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".grid-item").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <div class="scroll-container">
        {{#if (eq armes.length 0)}}
        <div>
            <span class="not-selling">{{localize "hibern.objects.NotSelling"}}</span>
        </div>
        {{else}}
        <div class="item-list grid-items">
        {{#each armes as |arme id|}}
            <div class="item grid-item InventoryItem" data-item-id="{{arme._id}}">
                <div class="header">
                    <img src="{{arme.img}}" title="{{arme.name}}" height="30" width="30" class="item-img" />
                    <span class="item-name" data-tooltip="{{arme.name}}"><a class="open-item" data-itemid="{{arme._id}}">{{arme.name}}</a></span>
                </div>
                <div class="scroll-container item-description">
                    <span>{{{arme.system.Description}}}</span>
                </div>
                <div class="item-cost">
                    <span>{{localize "hibern.objects.Cost"}} : {{arme.system.MarchandCost}} mons</span>
                </div>
            </div>
        {{/each}}
        </div>
        {{/if}}
    </div>
</section>