<!--<div class="sheet-card">
    <div class="class-table">
        <h2>Test de <i><b>{{StatName}}</b></i></h2>
        <div style="text-align: center;">
            <span style="font-size: 19px;">[[1d20+{{testStat}}]]</span>
        </div>
    </div>
</div>-->

<section class="dice-roll second-background">
    <div class="roll">
        <div class="name">Test de <i>{{StatName}}</i></div>
        <div class="{{Successtype}} content" style="text-align: center;">
            <span style="text-decoration: underline;" class="big-number">{{rollResult}}</span></br>
            <span style="font-size: 14px; text-decoration: none;">({{localizeResult}})</span>
        </div>
    </div>
</section>