<section class="dice-roll second-background">
    <div class="roll">
        <div class="name">{{Weapon.name}}</div>
        <div class="{{Successtype}} content" style="text-align: center;">
            <span style="text-decoration: underline;" class="big-number">{{rollResult}}</span></br>
            <span style="font-size: 14px; text-decoration: none;">({{localizeResult}})</span></br>
            <span class="big-number">{{localize "hibern.objects.Damage"}} :<i>{{Degats}}</i></span><br>
            <span style="color: gray; font-size: small; text-shadow: none;">{{{Weapon.system.Description}}}</span>
        </div>
    </div>
</section>