<form class="{{cssClass}} border-around" autocomplete="off">
    <div class="row main-bg">
        <div class="col-7 outer-border">
            <div class="main-margin">
                <div class="row row-initial">
                    <div class="col-6" style="margin-right: 2px;">
                        <p class="field-name"><b>{{localize "hibern.objects.Spe"}}</b></p>
                        <input type="number" name="system.Spécialisation" value="{{item.system.Spécialisation}}" data-dtype="Number" placeholder="0"/>
                    </div>
                    <div class="col-6" style="margin-left: 2px;">
                        <p class="field-name"><b>{{localize "hibern.objects.Fatigue"}}</b></p>
                        <input name="system.Fatigue" type="number" value="{{item.system.Fatigue}}" placerholder="0" data-dtype="Number" />
                    </div>
                </div>
                <p class="field-name"><b>Description</b></p>
<textarea name="system.Description" rows="8" placeholder="Description">{{{item.system.Description}}}</textarea>
                <div class="row" style="height: initial;">
                    <div class="col-6">
                        <p class="field-name"><b>{{localize "hibern.objects.Actif"}}</b>
                        <input type="checkbox" name="system.Actif" value="{{item.system.Actif}}" data-dtype="Boolean"
                            {{checked item.system.Actif}} style="margin: 0; margin-top: 1px"/></p>
                    </div>
                    <div class="col-6">
                        <p class="field-name"><b>{{localize "hibern.objects.KoUsage"}}</b>
                        <input type="checkbox" name="system.UsageWhenKO" value="{{item.system.UsageWhenKO}}" data-dtype="Boolean"
                            {{checked item.system.UsageWhenKO}}  style="margin: 0; margin-top: 1px"/></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 sheet-header header">
            <h1 class="item-type">{{localize "hibern.objects.ability"}}</h1>
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" class="header" /></h1>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="200" width="200" />
        </div>
    </div>
</form>
