<form class="{{cssClass}} border-around" autocomplete="off">
    <div class="row main-bg">
        <div class="col-7 outer-border">
            <div class="main-margin">
                <div class="row row-initial">
                    <div class="col-6" style="margin-right: 2px;">
                        <p class="field-name"><b>{{localize "hibern.objects.Spe"}}</b></p>
                        <input type="number" name="system.Spécialisation" value="{{item.system.Spécialisation}}" data-dtype="Number" placeholder="0"/>
                    </div>
                    <div class="col-6" style="margin-left: 2px;">
                        <p class="field-name"><b>{{localize "hibern.objects.Fatigue"}}</b></p>
                        <input name="system.Fatigue" type="number" value="{{item.system.Fatigue}}" placerholder="0" data-dtype="Number" />
                    </div>
                </div>
                <div class="row row-initial">
                    <div class="col-12" style="margin-left: 2px;">
                        <p class="field-name"><b>{{localize "hibern.objects.Stat"}}</b></p>
                        <select name="system.stat" style="width: 100%; height: 47%;">
                            {{#select item.system.stat}}
                                <option value="FOR">{{localize "hibern.stats.FOR"}}</option>
                                <option value="MAG">{{localize "hibern.stats.MAG"}}</option>
                                <option value="DEX">{{localize "hibern.stats.DEX"}}</option>
                                <option value="CON">{{localize "hibern.stats.CON"}}</option>
                                <option value="ERU">{{localize "hibern.stats.ERU"}}</option>
                                <!--<option value="CHA">{{localize "hibern.stats.CHA"}}</option>-->
                            {{/select}}
                        </select>
                    </div>
                </div>
                <p class="field-name"><b>Description</b></p>
<textarea name="system.Description" rows="4" placeholder="Description">{{{item.system.Description}}}</textarea>
                <div class="row row-initial">
                    <div class="col-4">
                        <p class="field-name"><b>{{localize "hibern.objects.Actif"}}</b>
                        <input type="checkbox" name="system.Actif" value="{{item.system.Actif}}" data-dtype="Boolean"
                            {{checked item.system.Actif}} style="margin: 0; margin-top: 1px"/></p>
                    </div>
                    <div class="col-4">
                        <p class="field-name"><b>{{localize "hibern.objects.KoUsage"}}</b>
                        <input type="checkbox" name="system.UsageWhenKO" value="{{item.system.UsageWhenKO}}" data-dtype="Boolean"
                            {{checked item.system.UsageWhenKO}} style="margin: 0; margin-top: 1px"/></p>
                    </div>
                    <div class="col-4">
                        <p class="field-name"><b>Posture</b>
                        <input type="checkbox" name="system.PostureCustom" value="{{item.system.PostureCustom}}" data-dtype="Boolean"
                            {{checked item.system.PostureCustom}} style="margin: 0; margin-top: 1px;"/></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 sheet-header header">
            <h1 class="item-type">{{localize "hibern.objects.ability"}}</h1>
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" class="header" /></h1>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="200" width="200" />
        </div>
    </div>
</form>
