<form class="{{cssClass}} border-around" autocomplete="off">
    <div class="row">
        <div class="col-7 main-margin">
            <p class="field-name"><b>Description</b></p>
<textarea name="system.Description" rows="10" placeholder="Description">{{{item.system.Description}}}</textarea>
        <p class="field-name"><b>{{localize "hibern.objects.Actif"}}
        <input type="checkbox" name="system.Actif" value="{{item.system.Actif}}" data-dtype="Boolean"
            {{checked item.system.Actif}} style="margin: 0; margin-top: 1px"/></b></p>
        </div>
        <div class="col-5 sheet-header header">
            <h1 class="item-type">Last-Word</h1>
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" class="header" /></h1>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="200" width="200" />
        </div>
    </div>
</form>
